.copy {
  height: 285px;
  background: url("../img/burger-bg.jpg") no-repeat 0 100%;
  background-size: cover;
  .copy-wrap {
    width: 655px;
    height: 100%;
    .descript {
      padding-top: 90px;
    }

  }
}