
.btn-light {
  color: #612316;
}
.btn-lg {
  position: relative;
  z-index: 2;
  display: block;
  margin: 0 auto;
  padding: 10px 60px;
  border-radius: 30px;
  font-family: $Roboto-s;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  border: none;
  outline: none;
}
.btn-md {
  padding: 10px 20px;
  color: #4e5159;
  font-family: $Roboto-short;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  border-radius: 27px;
  background-color: $white-color;
 }
